<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ys.lazyload.OrdersMapper">
	<!--延迟加载：
         select user_id from order WHERE id=1;//得到user_id
         select * from user WHERE id=1   //1 是上一个查询得到的user_id的值
         property:别名(属性名)    column：列名 -->
    <select id="getOrderByOrderId" resultMap="getOrderMap">
    	select * from orders
    </select>
    <resultMap type="com.ys.lazyload.Orders" id="getOrderMap">
    	<id column="id" property="id"/>
		<result column="number" property="number"/>
		<!-- select:指定延迟加载需要执行的statement的id（根据user_id查询的statement） 如果不在本文件中，需要加上namespace
			 property:resultMap中type指定类中的属性名
			 column:和select查询关联的字段user_id-->
		<association property="user" javaType="com.ys.lazyload.User"  column="user_id" select="getUserByUserId">
		</association>
    </resultMap>
    <select id="getUserByUserId" resultType="com.ys.lazyload.User">
    	select * from user where id=#{id}
    </select>
	
</mapper>